//Clients Section
section.section-clients
  h3#clients Clients
  
  .clients-mobile-nav
    each val in[1,2,3,4]
      span
  
  .clients-belt
    .client-unit
      .client-face
        img(src=clientOneImgPath, alt='Client-Face')
        strong.client-name= clientOneName
        em.client-title= clientOneTitle

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p!= clientOneDesc

    .client-unit
      .client-face
        img(src=clientTwoImgPath, alt='Client-Face')
        strong.client-name= clientTwoName
        em.client-title= clientTwoTitle

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p!= clientTwoDesc
    
    .client-unit
      .client-face
        img(src=clientThreeImgPath, alt='Client-Face')
        strong.client-name= clientThreeName
        em.client-title= clientThreeTitle

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p!= clientThreeDesc 

    .client-unit
      .client-face
        img(src=clientFourImgPath, alt='Client-Face')
        strong.client-name= clientFourName
        em.client-title= clientFourTitle

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p!= clientFourDesc
        
        
  .client-controls
    .client-control-next
      include icons/icon-next.html
    .client-control-prev
      include icons/icon-prev.html
  .clients-logos
    .client-logo
      img(src=clientOneLogoPath)
    .client-logo
      img(src=clientTwoLogoPath)
    .client-logo
      img(src=clientThreeLogoPath)
    .client-logo
      img(src=clientFourLogoPath)
 
